<div class="app-window">
  <h2>Hakkında</h2>

  <p>
    Merhaba! Ben <strong>Kerem Davut Çetin</strong>, Atatürk Üniversitesi
    Bilişim Sistemleri ve Teknolojileri 4. sınıf öğrencisiyim. Bu projeyi 2025
    bahar döneminde, mezuniyetime son adımı atarken geliştirdim.
  </p>

  <p>
    Yazılım geliştirmeye olan ilgim, sadece kod yazmakla sınırlı değil.
    <strong>Flutter</strong> ile mobil uygulama geliştirme konusunda aktif
    projeler üretiyorum. Aynı zamanda <strong>game design</strong> ve karakter
    tasarımı gibi yaratıcı alanlara da özel bir ilgim var.
  </p>

  <p>
    Teknik altyapıya da oldukça hakîmim. Uzun yıllardır
    <strong>bilgisayar donanımı</strong> üzerine tecrübem var; sistem
    toplamadan, parça seçimine kadar birçok alanda çalıştım.
  </p>

  <p>
    Bu uygulama, Angular ve Firebase teknolojileriyle geliştirilmiş bir görev
    yönetim sistemidir. Kullanıcıların görev oluşturmasına, düzenlemesine ve
    yönetmesine olanak tanır. Projede
    <strong>Firebase Authentication</strong> ve
    <strong>Firestore</strong> altyapısı kullanılmıştır.
  </p>

  <p>
    Ayrıca İngilizceye ileri düzeyde hâkimim ve yazılım dünyasında kendimi
    sürekli geliştirerek profesyonel kariyerime sağlam adımlarla ilerlemeyi
    hedefliyorum.
  </p>

  <p style="font-size: 12px; color: #ccccff; text-align: center">
    👀 Eğer buraya kadar okuduysanız... Bilmelisiniz ki
    <strong>Doç. Dr. Hamza POLAT </strong>
    en sevdiğim Doçent doktor hocamsınız.👀
  </p>
</div>
