<div class="app-window">
  <form (ngSubmit)="login()">
    <h2>Giriş Yap</h2>

    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      required
      placeholder="E-posta"
    />

    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="Şifre"
    />

    <button type="submit">Giriş</button>

    <p *ngIf="error" class="error-text">{{ error }}</p>

    <p class="register-text">
      Hesabınız yok mu? <a routerLink="/register">Kayıt Ol</a>
    </p>
  </form>
</div>
