<div class="app-window">
  <h2>Görev Listesi</h2>

  <a routerLink="/add-task" class="add-link">+ Yeni Görev Ekle</a>

  <div *ngIf="isLoading" class="loading-text">Yükleniyor...</div>
  <div *ngIf="!isLoading && tasks.length === 0" class="no-task">
    Henüz görev yok.
  </div>

  <ul>
    <li *ngFor="let task of tasks">
      <div class="task-header">
        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="toggleCompleted(task)"
        />
        <strong>{{ task.title }}</strong> -
        <span class="category">{{ task.category }}</span>
      </div>
      <p>{{ task.description }}</p>
      <button (click)="deleteTask(task.id!)">Sil</button>
    </li>
  </ul>
</div>
